decorator==5.1.1
greenlet==2.0.2
mysql-connector==2.2.9
mysql-connector-python==8.0.32
pbr==5.11.1
protobuf==3.20.3
PyMySQL==1.0.2
python-dotenv==1.0.0
six==1.16.0
SQLAlchemy==2.0.6
sqlalchemy-migrate==0.13.0
sqlparse==0.4.3
Tempita==0.5.2
typing_extensions==4.5.0
